<!DOCTYPE html>
<html>
<head>
  <title>Form 1</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="container">
    <h2><b>Student Personal Details</b> </h2>
    <form method="POST" action="/form2">
      <input type="text" name="name" placeholder="Enter your name" required>
      <input type="text" name="rollno" placeholder="Enter your roll number" required>
      <input type="email" name="email" placeholder="Enter your email" required>
      <button type="submit">Next</button>
    </form>
  </div>
</body>
</html>
