<!DOCTYPE html>
<html>
<head><title>Form 2</title><link rel="stylesheet" href="/style.css"></head>
<body>
    <div class="container">
  <h2> Core Subject Marks</h2>
  <form method="POST" action="/form3">
    Java: <input type="number" name="java" required><br>
    Mobile App Dev: <input type="number" name="mobile" required><br>
    Cloud Computing: <input type="number" name="cloud" required><br>
    Machine Learning: <input type="number" name="ml" required><br>
    Python: <input type="number" name="python" required><br><br>
    <button type="submit">Next</button>
  </form>
</div>
</body>
</html>
